@import '../../../common/color.css';

.sign-up-form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 330px;
  color: var(--blue);
}

.sign-up-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.submit-form-button {
  width: 100%;
  height: 40px;
  border: 1px solid var(--green);
  border-radius: 6px;
  padding: 5px;
  background-color: var(--green);
  color: var(--white);
}

.submit-form-button:focus {
  outline: none;
}

.field-error-label {
  color: var(--red);
  margin-left: 5px;
  margin-bottom: 5px;
}

.form-bottom-content {
  text-align: center;
}

.form-bottom-item {
  margin-bottom: 5px;
}

.form-error-label {
  color: var(--red);
}

.form-bottom-item a {
  text-decoration: none;
  color: var(--green);
}