@import '../../../common/color.css';
@import '../../../common/size.css';

.punch-row {
  display: flex;
  justify-content: center;
}

.punch-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self:flex-end;
  width: 100%;
  background-color: var(--light-green);
}

.punch-form-content {
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

@media (max-width: 5000px) {
  .punch-form-content {
    padding: 0;
  }
}
