.punch-row {
  display: flex;
  justify-content: center;
}

.punch-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self:flex-end;
  width: 100%;
}

.punch-form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}