@import '../../../common/color.css';

.punch-button {
  text-align: center;
  width: 100%;
  height: 50px;
  margin: 2px;
  outline: none;
  border: 1px solid var(--blue);
  border-radius: 25px;
  font-size: 24px;
  background-color: var(--blue);
  color: var(--beige);
}

.punch-button:hover {
  background-color: var(--beige);
  color: var(--blue);
}