@import '../../../common/color.css';

.punch-list-content ol {
  width: 100%;
}

.punch-list-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-punches {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--blue);
}