.punch-button {
  text-align: center;
  width: 80%;
  height: 50px;

  outline: none;
  border: 2px solid #79ff4d;
  border-radius: 25px;
  font-size: 24px;
  background-color: #79ff4d;
}

.punch-button:hover {
  background-color: white;
}