@import './common/color.css';

* {
  padding: 0;
  margin: 0;
}

ol {
  width: 90%;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-content {
  padding: 0;
  display: flex;
  background-color: var(--beige);
  justify-content: center;
  width: 35%;
  min-width: 480px;
  min-height: 860px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--beige);
}

@media only screen and (max-width: 520px) {
  .app-content {
    min-width: 100%;
  }
}
